/* !! 1 rem = 10px !! */

#addProjectBtn {
  background-color: var(--add-btn-bg);
  border-radius: 0.8rem;
  font-weight: 700;
}

#addProjectBtn:hover {
  transform: scale(1.05);
}

/* Project List Styles */
#projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6rem;
}

/* Project Detail Styles */
#projectDetails {
  padding: 0.8rem;
  background-color: #ee8505;
  border-radius: 1.6rem;
}

#projectDetails,
#projectImage {
  width: 90%;
  margin: 0.8rem auto;
  border-radius: 1.6rem;
}

#projectName {
  margin: 1.6rem;
}

#projectDetails p {
  margin: 1.6rem 3.2rem;
  font-size: 2.2rem;
  font-weight: bold;
  color: #000;
}

#projectHr {
  margin: 0.8rem 0;
}

/* button styles */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.button-container button {
  font-family: "Courier New", Courier, monospace;
  background-color: #0918efe1;
  border: none;
  border-radius: 0.8rem;
  margin: 0.8rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0077ff;
}

.liveLinkContainer {
  position: relative;
  display: inline-block;
}

.liveLinkContainer #liveLinkError {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.liveLinkContainer #liveLinkError::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.liveLinkContainer:hover #liveLinkError {
  visibility: visible;
  opacity: 1;
}

.button-container a {
  color: #ffffff;
}

/*---Media Queries----*/

@media screen and (max-width: 768px) {
  #projectImage {
    width: 90%;
    margin: 0.5rem auto;
  }

  #projectList {
    display: flex;
    flex-direction: row;
    grid-row: 2;
  }

  .btn {
    width: 200px;
  }
}
