/* General Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
}

body {
    font-size: 14px;
    background-color: #B4FFFF;
    width: 95vw;
    margin: 1rem auto;
}

.error-message {
    color: red;
    font-weight: bold;
}


p {
    margin: 0 1rem;
    line-height: 1.5;
    font-weight: bolder;
}

a:hover {
    color: #21043b;
}

.hidden {
    display: none;
}

.main-content {
    display: flex;
    flex-direction: column;
}

hr {
    margin: 1rem 0;
    border: 0.5px solid black;
}

/* Header Styles */

header {
    margin: 2rem;
}

header h1 {
    font-family: 'Papyrus', fantasy;
}

#intro {
    color: #222222;
    margin-bottom: 1em;
}

/* Contributor Table Styles */

.starContributor {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.6rem;
}

.starContributor h4 {
    margin-bottom: 1.5rem;
}

/* Project Buttons Styles*/

#addProjectBtn {
    background-color: #00E6E6;
    border-radius: 0.5rem;
}

#addProjectBtn:hover {
    background-color: #00FFFF;
}

.btn {
    margin: 0.2rem;
    padding: 0.3rem 0.5rem;
    background-color: #BE1111;
    color: antiquewhite;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF0000;
    color: #FAEBD7;
}

/* Project List Styles */

#projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

#projectDetails {
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #EE8505;
    border-radius: 1rem;
}

#projectImage {
    width: 100%;
    margin: 0.5rem auto;
    border-radius: 1rem;
}

#projectName {
    margin: 1rem;
}

#projectDescription {
    margin-bottom: 2rem;
}

#projectHr {
    margin: 0.5rem 0;
}

/* Project Card Button Styles */

#projectDetails .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#projectDetails .button-container button {
    background-color: #0918EfE1;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#projectDetails .button-container button:hover {
    background-color: #0077FF;
}

.button-container a {
    color: #FFFFFF;
}

/* Style the table container */
.starContributor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

/* Style the table header */
#contributorTable {
    border-collapse: collapse;
    width: 70%;
}

#contributorTable th {
    background-color: #007bff; /* Header background color */
    color: #fff; /* Header text color */
    font-weight: bold;
    padding: 10px;
}

#contributorTable tr {
    background-color: #f2f2f2;
}

#contributorTable tr:hover {
    background-color: #ddd; /* Hovered row background color */
}

/* Style table cells */
#contributorTable td {
    padding: 8px;
    text-align: center;
}

/* Add some border to the table and cells */
#contributorTable, #contributorTable th, #contributorTable td {
    border: 1px solid #ddd;
}


/* Media Queries */

@media (min-width: 576px) {
    body {
        font-size: 16px;
    }

    #projectImage {
        width: 90%;
        margin: 0.5rem auto;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}